:root {
  --primary-color: #0673ef;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

.center {
  text-align: center;
}
.navbar {
  list-style: none;
  background-color: var(--primary-color);
  color: white;
  padding-left: 30px;
}

.navbar span {
  display: inline-flex;
}

.carousel-item {
  height: 80%;
}
.highlights {
  padding-top: 20px;
  color: var(--primary-color);
  font-weight: 700;
}
.HLIcons {
  font-size: 50px;
  padding-bottom: 20px;
}
.HLTitle {
  font-weight: 900;
  color: var(--primary-color);
}
.HLTitle:hover {
  color: rgb(158, 204, 246);
  text-decoration: underline;
}

a:hover {
  color: rgb(158, 204, 246);
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color) !important;
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}
/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.post-profile {
  margin-top: 10%;
}
.post-text {
  padding-left: 20px;
}
/* ==================================================== */
.hero {
  background: url(./assets/photos/Synchiropus_splendidus_2_Luc_Viatour.jpg);
  height: 100vh;
  top: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text {
  position: absolute;
  text-align: center;
  left: 35%;
  top: 40%;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 15px black;
}
.hero-subtext {
  font-size: 25px;
}

.rate {
  color: var(--primary-color);
  float: left;
  width: 400px;
  margin-left: 100px;
  margin-top: 75px;
}

.diagonal-one {
  margin-top: 320px;
  height: 400px;
  transform: skewY(-11deg);
  z-index: 2;
  background: url(https://media.giphy.com/media/LStvOWzroepMwQFTQ1/giphy.gif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.discover {
  color: var(--primary-color);
  float: right;
  width: 400px;
  margin: 40px 200px 50px 0;
  /* margin-right: 5%; */
}

.diagonal-two {
  margin-top: 350px;
  height: 400px;
  transform: skewY(11deg);
  z-index: 2;
  background: url(https://media.giphy.com/media/l1BgR4kRDTTAvGwWk/giphy.gif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.create {
  color: var(--primary-color);
  float: left;
  width: 400px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.HLText {
  text-align: justify;
  color: black;
}

.view-aqua {
  margin-top: 12px;
  padding-left: 77px;
  padding-right: 77px;
}

.dash-back {
  /* background: url(./img/kelp.jpg); */
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.dash-dia {
  /* margin-top: 30px; */
  height: 400px;
  transform: skewY(-20deg);
  z-index: 2;
  background: url("https://media.giphy.com/media/T7VilEdSPfyy4/giphy.gif");
  /* background: url(./assets/photos/animals-fishes-koi-fishes-school-of-fish-thumb.jpg); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aqua-img {
  width: 300px;
  height: 250px;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.aquarium-photo {
  max-height: 350px;
  border-radius: 20px;
}
.aquaItem {
  min-width: 325px;
  max-width: 325px;
  min-height: 455px;
  max-height: 455px;
  text-align: center;
  margin: 20px;
  border-radius: 20px;
}
.aqua-name {
  height: 28px;
  overflow: hidden;
}
.aqua-desc {
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.aquariums {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.add-comment {
  margin-bottom: 20px;
}

.comment-modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 1s ease-out;
}

.profile-top {
  margin: 20px 20% 20px 20%;
  border-radius: 20px;
}

.profile-about {
  margin: 0 15%;
  border-radius: 20px;
  padding: 0 15px;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  font-family: "Font Awesome 5 Free";
  content: "\f578 \f578 \f578 \f578 \f578";
  font-weight: 900;
  font-size: 40px;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-inner::before {
  font-family: "Font Awesome 5 Free";
  content: "\f578 \f578 \f578 \f578 \f578";
  color: #f8ce0b;
  font-weight: 900;
  font-size: 40px;
}
.fish-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.fish-outer::before {
  font-family: "Font Awesome 5 Free";
  content: "\f578 \f578 \f578 \f578 \f578";
  font-weight: 900;
  font-size: 40px;
}

.fish-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.fish-inner::before {
  font-family: "Font Awesome 5 Free";
  content: "\f578 \f578 \f578 \f578 \f578";
  color: #f8ce0b;
  font-weight: 900;
  font-size: 40px;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hero {
    background-size: unset;
    background-attachment: unset;
  }
  .hero-text {
    left: 15%;
  }
  .diagonal-one {
    margin-top: 350px;
  }
  .rate {
    margin-left: 15%;
    margin-top: 40px;
    width: 300px;
  }
  .discover {
    margin-right: 15%;
    width: 300px;
  }
  .create {
    margin-left: 20px;
    width: 300px;
  }
  .container {
    /* margin-top: 8rem; */
  }
  .post {
    grid-gap: 0px;
  }

  .post-content {
    text-align: center;
  }
  .post-text {
    text-align: left;
  }
  .aquarium-photo {
    width: 80vw;
  }
  .hide-sm {
    display: none !important;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github";
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
